# Maven
target/
!.mvn/
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# IDE specific files
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode/
*.launch

# Logs
logs/
*.log

# System Files
.DS_Store
Thumbs.db

# Local configuration files
*.properties
*.yml
*.yaml

# Environment files
.env
*.env
